# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Models (usually large and regenerated)
models/

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/
